@{
    ViewBag.Title = "CheckList";
}
<div class="margin-bottom-lg">
    <h2 class="text-center ">Registro(s) de Parte Diario de Mantenimiento </h2>
</div>
<br />
<div class="table-responsive">
    <table class="table table-hover " id="check-lists">
        <thead class="thead-light text-white">
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Sucursal</th>
                <th scope="col" class="text-center">Maquinaria</th>
                <th scope="col" class="text-center">Tipo Implemento</th>
                <th scope="col" class="text-center">Implemento</th>
                <th scope="col" class="text-center">Operario</th>
                <th scope="col" class="text-center">Turno</th>
                <th scope="col" class="text-center">Fecha</th>
                <th scope="col" class="text-center">Estado</th>
                <th scope="col" class="text-center">Accion</th>
            </tr>
        </thead>
        <tbody id="tbody-daily"></tbody>
    </table>
</div>
<br />
<div class="d-flex justify-content-center align-content-center flex-column" >
    <div class="d-flex justify-content-center align-content-center" id="table-image-list">
        <div class="loader">

        </div>
    </div>
    <p class="font-weight-bold d-block text-center" id="loader-message"> Cargando... </p>
</div>



@Html.Hidden("RedirectToLogin", Url.Action("Login", "PDMHome"))

<script src="~/Scripts/utils/push.min.js"></script>

@section scripts {
    <script type="text/javascript">
        $(document).ready(($) => {
            const userData = localStorage.getItem("data");
            const user = JSON.parse(userData);

            if (!user) {
                let url = $("#RedirectToLogin").val(); location.href = url;
            }
            else {
                const checkListData = localStorage.getItem("checkList");
                const mitigateData = localStorage.getItem("mitigate");
                const partDailyData = localStorage.getItem("partDaily");
                const partDailyListData = localStorage.getItem("partDailyList");

                const checkList = JSON.parse(checkListData);
                const mitigate = JSON.parse(mitigateData);
                const partDaily = JSON.parse(partDailyData);
                const partDailyList = JSON.parse(partDailyListData);

                ////////////////////////////////
                //var notifyProxy = $.connection.notifyHub;
                //notifyProxy.client.notifyPush = function (name, message) {
                //    let x = `<p>${name}</p>`;

                //    $(".ok").append(x)
                //    Push.Permission.DEFAULT;
                //    Push.create("Hello world!", {
                //        body: "How's it hangin'?",
                //        timeout: 4000,
                //        onClick: function () {
                //            window.focus();
                //            this.close();
                //        }
                //    });
                //}

                //$.connection.hub.start().done(function () {
                //    $(`#send`).click((event) => {
                //        //Server
                //        notifyProxy.server.sendMessage("Hola", "World");
                //    })
                //});
                ///////////////////////////////
                /// Get Date now
                var now = new Date();
                var day = ("0" + now.getDate()).slice(-2);
                var month = ("0" + (now.getMonth() + 1)).slice(-2);
                var year = now.getFullYear()
                var today = (year) + "/" + (month) + "/" + (day);

                const data = JSON.stringify({
                    Fecha: today,
                    IdUsuario: user.CodUsuario,
                    IdSucursal: user.CodSucursal
                });

                if (mitigate == true) {
                    //Get Part Daily
                    axios.get(`${URL}/PDMParteDiario/Todos`, {
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                        },
                        params: {
                            Fecha: JSON.parse(data).Fecha,
                            IdUsuario: 0,
                            IdSucursal: JSON.parse(data).IdSucursal
                        }
                    })
                    .then(response => {
                        if (response.data.length > 0) {
                            $("#table-image-list").empty();
                            $("#loader-message").empty();

                            response.data.map((item, index) => {
                                let jsonDate = item.Fecha;  // returns "/Date(1245398693390)/";
                                let re = /-?\d+/;
                                let m = re.exec(jsonDate);
                                let d = new Date(parseInt(m[0]));
                                let day = ("0" + d.getDate()).slice(-2);
                                let month = ("0" + (d.getMonth() + 1)).slice(-2);
                                let today = (day) + "/" + (month) + "/" + d.getFullYear(); // Format dd/mm/yyyy

                                let classMitigate = item.IdEstado === "02" ? "bg-danger" : "";
                                let classTextMitigate = item.IdEstado === "02" ? "text-light font-weight-bold" : "";
                                let classHrefMitigate = item.IdEstado === "02" ? "text-light font-weight-bold" : "font-weight-bold";

                                let textMitigate = item.IdEstado === "02" && mitigate === true ? "Mitigar" : "Visualizar";

                                let tr = $(`
                                <tr class=${classMitigate}>
                                    <td class="text-center ${classTextMitigate}" scope="row">${index + 1}</th>
                                    <td class="text-center ${classTextMitigate}">${item.IdSucursal}</td>
                                    <td class="text-center ${classTextMitigate}">${item.IdMaquinaria}</td>
                                    <td class="text-center ${classTextMitigate}">${item.IdTipoImplemento}</td>
                                    <td class="text-center ${classTextMitigate}">${item.IdImplemento}</td>
                                    <td class="text-center ${classTextMitigate}">${item.IdOperario}</td>
                                    <td class="text-center ${classTextMitigate}">${item.Turno}</td>
                                    <td class="text-center ${classTextMitigate}">${today}</td>
                                    <td class="text-center ${classTextMitigate}">${item.Estado}</td>
                                    <td class="text-center ${classTextMitigate}">
                                        <a class="${classHrefMitigate}" href="/PDMHome/CheckListEditar/${item.IdParte}"> ${textMitigate} </a>
                                    </td>
                                </tr>
                                `);
                                $(`#tbody-daily`).append(tr);
                            })
                        }
                        else {
                            $("#table-image-list").empty();
                            $(`#loader-message`).text("Aun no hay registros.")
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
                }
                else if (partDailyList == true) {
                     //Get Part Daily
                     axios.get(`${URL}/PDMParteDiario/Todos`, {
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                        },
                        params: {
                            Fecha: JSON.parse(data).Fecha,
                            IdUsuario: 0,
                            IdSucursal: JSON.parse(data).IdSucursal
                        }
                     })
                     .then(response => {
                        if (response.data.length > 0) {
                            $("#table-image-list").empty();
                            $("#loader-message").empty();
                            response.data.map((item, index) => {
                                let jsonDate = item.Fecha;  // returns "/Date(1245398693390)/";
                                let re = /-?\d+/;
                                let m = re.exec(jsonDate);
                                let d = new Date(parseInt(m[0]));
                                let day = ("0" + d.getDate()).slice(-2);
                                let month = ("0" + (d.getMonth() + 1)).slice(-2);
                                let today = (day) + "/" + (month) + "/" + d.getFullYear(); // Format dd/mm/yyyy

                                let classMitigate = item.IdEstado === "02" ? "bg-danger" : "";
                                let classTextMitigate = item.IdEstado === "02" ? "text-light font-weight-bold" : "";
                                let classHrefMitigate = item.IdEstado === "02" ? "text-light font-weight-bold" : "font-weight-bold";

                                let textMitigate = item.IdEstado === "02" && mitigate === true ? "Parte diario" : "Parte diario";

                                let tr = $(`
                            <tr class=${classMitigate}>
                                <td class="text-center ${classTextMitigate}" scope="row">${index + 1}</th>
                                <td class="text-center ${classTextMitigate}">${item.IdSucursal}</td>
                                <td class="text-center ${classTextMitigate}">${item.IdMaquinaria}</td>
                                <td class="text-center ${classTextMitigate}">${item.IdTipoImplemento}</td>
                                <td class="text-center ${classTextMitigate}">${item.IdImplemento}</td>
                                <td class="text-center ${classTextMitigate}">${item.IdOperario}</td>
                                <td class="text-center ${classTextMitigate}">${item.Turno}</td>
                                <td class="text-center ${classTextMitigate}">${today}</td>
                                <td class="text-center ${classTextMitigate}">${item.Estado}</td>
                                <td class="text-center ${classTextMitigate}">
                                    <a class="${classHrefMitigate}" href="/PDMHome/CheckListEditar/${item.IdParte}"> ${textMitigate} </a>
                                </td>
                            </tr>
                            `);

                                $(`#tbody-daily`).append(tr);
                            })
                        }
                        else {
                            $("#table-image-list").empty();
                            $(`#loader-message`).text("Aun no hay registros.")
                        }
                     })
                     .catch(error => {
                        console.log(error);
                     });
                }
                else {
                     //Get Part Daily
                     axios.get(`${URL}/PDMParteDiario/Todos`, {
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                        },
                        params: {
                            Fecha: JSON.parse(data).Fecha,
                            IdUsuario: 0,
                            IdSucursal: JSON.parse(data).IdSucursal,
                        }
                     })
                     .then(response => {
                        if (response.data.length > 0) {
                            $("#table-image-list").empty();
                            $("#loader-message").empty();
                            response.data.map((item, index) => {
                                let jsonDate = item.Fecha;  // returns "/Date(1245398693390)/";
                                let re = /-?\d+/;
                                let m = re.exec(jsonDate);
                                let d = new Date(parseInt(m[0]));
                                let day = ("0" + d.getDate()).slice(-2);
                                let month = ("0" + (d.getMonth() + 1)).slice(-2);
                                let today = (day) + "/" + (month) + "/" + d.getFullYear(); // Format dd/mm/yyyy

                                let classMitigate = item.IdEstado === "02" ? "bg-danger" : "";
                                let classTextMitigate = item.IdEstado === "02" ? "text-light font-weight-bold" : "";
                                let classHrefMitigate = item.IdEstado === "02" ? "text-light font-weight-bold" : "font-weight-bold";

                                let tr = $(`
                                <tr class=${classMitigate}>
                                    <td class="text-center ${classTextMitigate}" scope="row">${index + 1}</th>
                                    <td class="text-center ${classTextMitigate}">${item.IdSucursal}</td>
                                    <td class="text-center ${classTextMitigate}">${item.IdMaquinaria}</td>
                                    <td class="text-center ${classTextMitigate}">${item.IdTipoImplemento}</td>
                                    <td class="text-center ${classTextMitigate}">${item.IdImplemento}</td>
                                    <td class="text-center ${classTextMitigate}">${item.IdOperario}</td>
                                    <td class="text-center ${classTextMitigate}">${item.Turno}</td>
                                    <td class="text-center ${classTextMitigate}">${today}</td>
                                    <td class="text-center ${classTextMitigate}">${item.Estado}</td>
                                    <td class="text-center ${classTextMitigate}">
                                        <a class="${classHrefMitigate}" href="/PDMHome/CheckListEditar/${item.IdParte}"> Visualizar </a>
                                    </td>
                                </tr>
                                `);

                                $(`#tbody-daily`).append(tr);
                            })
                        }
                        else {
                            $("#table-image-list").empty();
                            $(`#loader-message`).text("Aun no hay registros.")
                        }
                     })
                     .catch(error => {
                        console.log(error);
                     });
                }
            }
        });
    </script>
}

