<div class="col-md-12 d-md-flex flex-items-center flex-column">
    <br />
    <div class="text-gray mx-auto col-sm-8 col-md-6 col-lg-4">
        <h3 class="text-center">
            Iniciar Sesión
        </h3>
    </div>
    <div class="text-gray mx-auto col-sm-8 col-md-6  col-lg-4">
        <form role="form" data-toggle="validator" method="post" id="form-login">
            <div class="form-row ">
                <div class="form-group col-md-12">
                    <label for="headquarters">Nombre de usuario:</label>
                    <input class="form-control" id="username" name="username" placeholder="Escribir su nombre de usuario" required />
                    <p class="text-danger text-right" id="error-username"></p>
                </div>
                <div class="form-group col-md-12">
                    <label for="headquarters">Password:</label>
                    <input class="form-control" id="password" name="password" type="password" required />
                    <p class="text-danger text-right" id="error-password"></p>
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group d-flex justify-content-end col-md-12">
                    <button type="submit" id="send-check-list" class="btn btn-success btn-block">Ingresar</button>
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-12">
                    <p class="text-danger text-center" id="error-login"></p>
                </div>
            </div>
        </form>
    </div>
    @Html.Hidden("RedirectTo", Url.Action("Index", "PDMHome"))
    @Html.Hidden("RedirectToList", Url.Action("CheckList", "PDMHome"))
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(($) => {
            //Upload LocalStorage
            const data = localStorage.getItem("data");
            const user = JSON.parse(data);
            if (user) {
                let url = $("#RedirectToList").val(); location.href = url;
            }
            else {
               
                let checkList = false;
                let mitigate = false;
                
                //Send Login
                $(`#form-login`).submit((event) => {
                    event.preventDefault();
                    let auth_user = JSON.stringify({
                        Usuario: $(`#username`).val(),
                        Contrasenia: $(`#password`).val(),
                        CodModulo: "A00"
                    });
                    //Get Server -> Data User
                    axios.post(`${URL}/AuthUser/Login`, auth_user, {
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                        }
                    })
                    .then(response => {
                        if (response.data) {
                            localStorage.setItem("data", JSON.stringify(response.data)); //Set LocalStorage User
                            $(`#error-login`).empty();
                        }
                        else {
                            localStorage.clear();
                            $(`#error-login`).text("Las credenciales proporcionadas no son correctos.")
                            throw ("error de logueo")
                        }
                        return response;
                    })
                    .then(response => {
                        let auth_user = JSON.stringify({
                            CodUsuario: response.data.CodUsuario,
                            CodModulo: "A11"
                        });
                        axios.post(`${URL}/AuthUser/Permisos`, auth_user, {
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                            }
                        })
                        .then(response => {
                            checkList = response.data !== 0 ? true : false;
                            localStorage.removeItem("checkList");
                            localStorage.setItem("checkList", JSON.stringify(checkList));
                        })
                        .catch(error => {
                            checkList = false;
                            localStorage.removeItem("checkList");
                            localStorage.setItem("checkList", JSON.stringify(checkList));
                            console.log(error);
                        });
                        return response;
                    })
                    .then(response => {
                        let auth_user = JSON.stringify({
                            CodUsuario: response.data.CodUsuario,
                            CodModulo: "A12"
                        });
                        axios.post(`${URL}/AuthUser/Permisos`, auth_user, {
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                            }
                        })
                        .then(response => {
                            mitigate = response.data !== 0 ? true : false;
                            localStorage.removeItem("mitigate");
                            localStorage.setItem("mitigate", JSON.stringify(mitigate));
                        })
                        .catch(error => {
                            mitigate = false;
                            localStorage.removeItem("mitigate");
                            localStorage.setItem("mitigate", JSON.stringify(mitigate));
                            console.log(error);
                        });
                        return response;
                    })
                    .then(response => {
                        let auth_user = JSON.stringify({
                            CodUsuario: response.data.CodUsuario,
                            CodModulo: "A13"
                        });
                        axios.post(`${URL}/AuthUser/Permisos`, auth_user, {
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                            }
                        })
                        .then(response => {
                            partDaily = response.data !== 0 ? true : false;
                            localStorage.removeItem("partDaily");
                            localStorage.removeItem("partDailyList");
                            localStorage.setItem("partDaily", JSON.stringify(partDaily));
                            localStorage.setItem("partDailyList", JSON.stringify(partDaily));
                        })
                        .catch(error => {
                            partDaily = false;
                            localStorage.removeItem("partDaily");
                            localStorage.removeItem("partDailyList");
                            localStorage.setItem("partDailyList", JSON.stringify(partDaily));
                            localStorage.setItem("partDaily", JSON.stringify(partDaily));
                            console.log(error);
                        });
                        return response;
                    })
                    .then(response => {

                        setTimeout(function () {
                            let url = $("#RedirectToList").val(); location.href = url;
                        }, 200);
                        
                    })
                    .catch(error => {
                        localStorage.clear();
                        console.log(error);
                    });
                })
            }
        })
    </script>
}